
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Erişim Engellendi</h1>

<p>
    Sevgili @User.Identity.Name, ne yazık ki bu sayfaya erişim yetkin yok. Bana küfür etmeden önce, -tabi eğer burayı görmen gerektiğini düşünüyorsan- bir yetkiliye danış.
</p>